.repo{
    border: solid 2px rgb(83, 83, 83);
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 183, 248);
    &-header{
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        &-name{
            
        }
        &-stars{

        }

    }
    &-last-commit{
        padding-right: 20px;
        font-size: 20px;
    }
    &-link{
        padding-left: 20px;
        font-size: 20px;
        &:hover{
            opacity: 0.9;
        }
        &-text{
            font-size: 30px;
            padding-top: 30px;
        }
    }

}